* {
   margin: 0;
   padding: 0;
   font-family: sans-serif;
}

a, a:hover {
    text-decoration: none;
}

a {
    display: inline-block;
}

a::after {
    content: '';
    display: block;
    background-color: currentColor;
    width: 0;
    height: 3px;
    transition:  width 0.2s;
}

a:hover::after {
    width: 100%;
    transition: width 0.2s;
}


.first {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, yellow,tomato);
    color: #fff;
    align-content: center;
    background-position: center ;
    text-align: center;
    margin-top: 70px;
    font-size: 60px;
    
}

.part {
    text-align: center;
    font-size: 0.8em;
    position: absolute;
    text-decoration: none;
    color: floralwhite; 
    background: linear-gradient(to right, darkcyan,lightblue);
}

.contributions {
    padding: 1.25em;
    margin-top: 1px;
    color: #fff;
    text-align: justify;
    font-size: 4em;
    background: black;
}

.table {
    margin-top: 0.25em;
    color: coral;
    background: black;
    font-size: 25px;
}

.carouselExampleCaptions{
    width: 75%;
}

.carousel-caption p {
    color: black;
}

audio {
    width: 100%;
    background: linear-gradient(to right, yellow,tomato);
}

.button {
    margin-left: 40px;
    margin-top: 20px;
}

@media (min-width:768px) {
    .part {
        padding: 0.5em;
        font-size: 1.3em;
    }
    .contributions {
        margin-top: 1em;
        font-size: 1.25em;
    }
}
.body {
    background: linear-gradient(black,black);
}
.html{
scroll-behavior: smooth;
}
.navbar{
position: fixed;
z-index: 99999;
background: #00c6ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, silver,white); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
margin-top: -70px;
width: 100%;
}

.kl{
margin-right: 2px;
background-color: transparent;
border: 1px solid transparent;
color: white;
border-radius: 50px;
font-size: 20px;
}

.kl:hover{
border: 1px solid tomato;
border-radius: 50px;
background-color: tomato;
color: white;
}

.kll {
border-radius: 50px;
padding: 10px;
}

.kll:hover {
color: white;
background-color: tomato;
}

.menus{
padding: 10px;
border-radius: 20px;
position: relative;
left: -90px;
}
.custom-toggler.navbar-toggler {
  border-color: black;
} 

.custom-toggler.navbar-toggler:focus {
outline: none;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    -webkit-border-radius: 6px;
    -ms-webkit-border-radius: 5px;
    background-color: white;
    border-radius: 2px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 20px;
    border-radius: 2px;
    background: gold; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    -ms-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-moz-scrollbar {
    width: 10px;
}
::-moz-scrollbar-track {
    -webkit-border-radius: 6px;
    -moz-border-radius: 5px;
    -ms-webkit-border-radius: 5px;
    background-color: black;
    border-radius: 2px;
}
::-moz-scrollbar-thumb {
    -webkit-border-radius: 20px;
    border-radius: 2px;
    background: black; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    -ms-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.hello{
        font-size: 25px;
}