* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}

.title {
	padding: 1.25em;
	word-spacing: 0.2em;
	color: blue;
	font-weight: bold;
    background: linear-gradient(orange,yellow);
    font-size: 50px;
}

.achievements {
	margin-left: 20px;
	color: darkorange;
	background-color: black;
    text-align-last: center;
    text-align: center;
    margin-top: -32px;
}

.media {
	margin-top: 40px;
	display: block;	
}

.media-body h3 {
	color: yellow;
}

.topic-para {
	padding-left: 0.25em;
	font-size: 20px;
}

.header-text {
	font-size: 1em;
	color: rgb(24, 56, 134);
}

audio {
	width: 100%;
    background: linear-gradient(orange,yellow);
}
.quotes{
    font-size: 30px;
    text-align: center;
    background: linear-gradient(orange,yellow);
    margin-left: 20px;
    margin-top: -15.5px;
    font-style: italics;
    color: 
}
.button{
    margin-left: 20px;
    background: linear-gradient(yellow,darkorange);
}
.html{
scroll-behavior: smooth;
}
.navbar{
position: fixed;
z-index: 99999;
background: #00c6ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, silver,white); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
margin-top: -70px;
width: 100%;
}

.kl{
margin-right: 2px;
background-color: transparent;
border: 1px solid transparent;
color: white;
border-radius: 50px;
font-size: 20px;
}

.kl:hover{
border: 1px solid tomato;
border-radius: 50px;
background-color: tomato;
color: white;
}

.kll {
border-radius: 50px;
padding: 10px;
}

.kll:hover {
color: white;
background-color: tomato;
}

.menus{
padding: 10px;
border-radius: 20px;
position: relative;
left: -90px;
}
.custom-toggler.navbar-toggler {
  border-color: black;
} 

.custom-toggler.navbar-toggler:focus {
outline: none;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    -webkit-border-radius: 6px;
    -ms-webkit-border-radius: 5px;
    background-color: white;
    border-radius: 2px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 20px;
    border-radius: 2px;
    background: gold; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    -ms-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-moz-scrollbar {
    width: 10px;
}
::-moz-scrollbar-track {
    -webkit-border-radius: 6px;
    -moz-border-radius: 5px;
    -ms-webkit-border-radius: 5px;
    background-color: black;
    border-radius: 2px;
}
::-moz-scrollbar-thumb {
    -webkit-border-radius: 20px;
    border-radius: 2px;
    background: black; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    -ms-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.hello{
        font-size: 25px;
}
