* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}

.title {
	padding: 1.25em;
	word-spacing: 0.2em;
	color: rgb(53, 198, 114);
	font-weight: bold;
}

.achievements {
	margin-left: 20px;
	color: chartreuse;
	background-color: black;
}

.media {
	margin-top: 40px;
	display: block;	
}

.media-body h3 {
	color: rgb(239, 226, 40);
}

.topic-para {
	padding-left: 0.25em;
	font-size: 20px;
}

.header-text {
	font-size: 1em;
	color: rgb(24, 56, 134);
}

audio {
	width: 100%;
}
