* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}


.achievements {
   margin-left: 20px;
  color: chartreuse;
	background-color: black;
}
.media{
	margin-top: 40px;
	display: block;	
}

.media-body h3 {
	color: red;
}

.media-body p {
	font-size: 20px;
}

.header-text {
	font-size: 1em;
	color: rgb(24, 56, 134);
}
audio {
	width: 100%;
}