@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto+Condensed&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h1 {
	font-family: 'Noto Sans JP', sans-serif;
}

p {
	font-family: 'Roboto Condensed', sans-serif;
}

.main-head {
	width: 50%;
	display: flex;
	justify-content: center;
	background-position: center center;
	background-image: url("img/15.png");
	background-size: 20em;
  	background-repeat: no-repeat;
	background-clip: border-box;
	background-blend-mode: multiply;
	margin-bottom: 1em;
}

.header-text {
	color: rgb(135, 234, 160);
	opacity: 0.75;
	text-shadow: 2px 2px 8px rgba(155, 89, 200, 0.75), -1px 0 rgb(16, 78, 94), 0 1px rgb(16, 78, 94), 1px 0 rgb(16, 78, 94), 0 -1px rgb(16, 78, 94);
}

.main-carousel {
	width: 65%;
}

.carousel-head {
	display: flex;
	justify-content: center;
	width: 100%;
}

.jumbotron-head {
	display: flex;
	justify-content: center;
	width: 100%;
}

.jumbotron {
	background-color: rgb(255, 255, 255);
}

.main-text {
	margin: 2.5em;
	color: rgb(153, 78, 23);
}